body{
background-color:#74bfb1;
font-familiy:Helvetica;
font-size:18px;
max-width:1500;
margin-left:auto;
margin-right:auto;
}

#content{
background-color:white;
padding:25px;
}
h1{
margin:2px;
font-size:300%;
text-align:right;
}
nav{
margin-bottom:5px;
}
nav ul{
list-style-type:none;
margin:0px;
padding:0px;
}
nav ul li{
display:inline-block;
background-color:#EEE;
padding:10px;
font-size:140%;
margin:5px;
border-radius:10px;
cursor:pointer;
}
nav ul li:hover{
background-color:#49b29f;
color:white;
}


/* === different input divs === */
#input {
margin-top:20px;
}

/* table */
#input div#table{
overflow:auto;
}
#input #etablediv{
float:left;
table-layout:fixed;
}

#input #ctablediv{
table-layout:fixed;
width:calc(100% - 110px);
overflow-x:scroll;
float:left;
}
#ctable th, #ctable td, #etable th, #etable td{
height:25px;
overflow:hidden;
max-height:25px;
min-height:25px;
width:100px;
max-width:100px;
min-width:100px;
vertical-align:middle;
padding:0px;
}
#ctable div.header{
overflow:hidden;
max-height:40px;
border:0px;
padding:0px;
margin:0px;
vertical-align:middle;
}
#ctable th{
height:40px;
}
#etable th.first{
height:40px;
}
#ctable th, #etable th{
background-color:#EEE;
}
#ctable td.button{
background-color:#b3e5dc;
}
#ctable td.button[restrict="no"]{
cursor:pointer
}


/* menu */
#input div#menu{
text-align:center;
}
#input div#menu select{
width:90%;
font-size:100%;
}
#input div#menu #links{
margin-top:20px;
}
#input div#menu #links .link{
padding:10px;
width:90%;
font-size:100%;
margin:10px;
background-color:#B3E5DC;
cursor:pointer;
border-radius:10px;
margin-left:auto;
margin-right:auto;
}
#input div#menu #links .link:hover{
background-color:#49b29f;
}

/* preset */
#input div#preset .link{
margin:10px;
padding:10px;
font-size:100%;
background-color:#B3E5DC;
cursor:pointer;
border-radius:10px;
text-align:center;
width:90%;
}
#input div#preset .link:hover{
background-color:#49b29f;
}


/* FOR MOBILE ONLY */
@media only screen and (max-device-width:600px) {
	body{
	font-size:30px;
	}
	
	#input div#menu select{
	font-size:200%;
	}
	#input div#menu #links .link{
	margin-top:20px;
	}
	
	#ctable th, #ctable td, #etable th, #etable td{
	font-size:220%;
	height:60px;
	max-height:60px;
	min-height:60px;
	width:260px;
	max-width:260px;
	min-width:260px;
	}
	#input #ctablediv{
	width:calc(100% - 266px);
	}
	#ctable div.header{
	overflow:hidden;
	max-height:90px;
	border:0px;
	padding:0px;
	margin:0px;
	vertical-align:middle;
	}
	#ctable th{
	height:90px;
	}
	#etable th.first{
	height:90px;
}

